# Cameron Holmes
## Week 12 - 4/5/2022
### Python Numpy creating transporting arrays

In [1]:
import numpy as np

In [2]:
arr_2d = np.array([ [1,2,3,4], [5,6,7,8]])
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)
int32

In [3]:
#zeros()
arr = np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
arr.ndim

1

In [5]:
arr_2d = np.zeros((5,5))
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
2
(5, 5)

In [6]:
#ones()
arr_2d = np.ones((6,6))
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]]
2
(6, 6)
float64

In [7]:
#empty()
arr_2d = np.empty((2,2))
arr_2d

array([[4.24399158e-314, 8.48798317e-314],
       [1.27319747e-313, 1.69759663e-313]])

In [8]:
arr_2d = np.empty((3,3),dtype=int)
arr_2d

array([[16843009, 16843009, 16843009],
       [16843009, 16843009, 16843009],
       [16843009, 16843009, 16843009]])

In [9]:
#arange
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
np.arange(50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [11]:
arr = np.arange(10,100,5)
print(arr)
print(arr.ndim)
print(arr.shape)
print(arr.dtype)

[10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
1
(18,)
int32

In [12]:
arr = np.arange(1,13,1)
print(arr)
print(arr.shape)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
(12,)

In [13]:
#reshape an array
#1-D to 2-D
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [14]:
arr_2d = arr.reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [15]:
arr_2d = arr.reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [16]:
arr_2d = arr.reshape(6,2)
arr_2d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [17]:
#reshape 1-D to 3-D
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [18]:
arr_3d = arr.reshape(2,2,3)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [19]:
arr_2d = arr.reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [20]:
arr_2d.base

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [21]:
#unknown dimension
arr_3d = arr.reshape(2,2,-1)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [22]:
arr_3d = arr.reshape(2,-1,3)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [23]:
arr_2d = np.array([ [1,2,3,4], [5,6,7,8]])
arr_2d

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [24]:
arr = arr_2d.reshape(-1)
arr

array([1, 2, 3, 4, 5, 6, 7, 8])

In [25]:
#iterating arrays
#iterating 1-D
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
for n in arr:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [27]:
#Iterating 2-D
arr_2d = arr.reshape(2,5)
arr_2d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [28]:
for n in arr_2d:
    print(n)

[0 1 2 3 4]
[5 6 7 8 9]

In [29]:
for n in arr_2d:
    for x in n:
        print(x)

0
1
2
3
4
5
6
7
8
9

In [30]:
#Iterating 3-D arrays
arr_3d = np.arange(12).reshape(2,2,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [31]:
for n in arr_3d:
    for x in n:
        for y in x:
            print(y)

0
1
2
3
4
5
6
7
8
9
10
11

In [32]:
#nditer iterates on each scalar element in the np array
for n in np.nditer(arr_3d):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11

In [33]:
arr_2d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [34]:
for n in np.nditer(arr_2d):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [35]:
arr_2d = np.arange(1,13,1).reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [36]:
arr_2d[:,::2]

array([[ 1,  3],
       [ 4,  6],
       [ 7,  9],
       [10, 12]])

In [37]:
for n in np.nditer(arr_2d[:,::2]):
    print(n)

1
3
4
6
7
9
10
12

In [38]:
arr = np.arange(1,13,1)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [39]:
for i,n in np.ndenumerate(arr):
    print(i,n)

(0,) 1
(1,) 2
(2,) 3
(3,) 4
(4,) 5
(5,) 6
(6,) 7
(7,) 8
(8,) 9
(9,) 10
(10,) 11
(11,) 12

In [40]:
arr_2d = np.arange(1,9,1).reshape(4,2)
arr_2d

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [41]:
for i,n in np.ndenumerate(arr_2d):
    print(i,n)

(0, 0) 1
(0, 1) 2
(1, 0) 3
(1, 1) 4
(2, 0) 5
(2, 1) 6
(3, 0) 7
(3, 1) 8

In [42]:
#operations +, -, *, /
arr_2d * arr_2d

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]])

In [43]:
arr_2d - arr_2d

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [44]:
arr_2d + arr_2d

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16]])

In [45]:
arr_2d **2

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]], dtype=int32)

In [46]:
1 / arr_2d

array([[1.        , 0.5       ],
       [0.33333333, 0.25      ],
       [0.2       , 0.16666667],
       [0.14285714, 0.125     ]])

In [47]:
arr_2d / arr_2d

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [48]:
# array indexing, slicing, specific rows and columns
arr[1:6]

array([2, 3, 4, 5, 6])

In [49]:
arr[5:]

array([ 6,  7,  8,  9, 10, 11, 12])

In [50]:
arr[0:6] = 100
arr

array([100, 100, 100, 100, 100, 100,   7,   8,   9,  10,  11,  12])

In [51]:
arr_2d = np.array([ [5,10,25], [15,10,20], [20,30,25]])
print(arr_2d)
print(arr_2d.ndim)

[[ 5 10 25]
 [15 10 20]
 [20 30 25]]
2

In [52]:
arr_2d.shape

(3, 3)

In [53]:
arr_2d[1]

array([15, 10, 20])

In [54]:
arr_2d[0]

array([ 5, 10, 25])

In [55]:
arr_2d[0,2]

25

In [56]:
arr_2d[1][2]

20

In [57]:
arr_2d[:2]

array([[ 5, 10, 25],
       [15, 10, 20]])

In [58]:
arr_2d[:2][1:]

array([[15, 10, 20]])

In [59]:
arr_2d[:2]

array([[ 5, 10, 25],
       [15, 10, 20]])

In [60]:
arr_2d[:2,1:]

array([[10, 25],
       [10, 20]])

In [61]:
arr_2d[2,-1]

25

In [62]:
arr = np.zeros((9,9))
arr

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [63]:
arr = np.arange(81).reshape(9,9)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80]])

In [64]:
arr.shape

(9, 9)

In [65]:
arr.shape[0]

9

In [66]:
arr.shape[1]

9

In [67]:
import numpy as np

In [70]:
arr = np.zeros((9,9))
arr

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [72]:
arr.shape

(9, 9)

In [73]:
arr.shape[0]

9

In [75]:
arr.shape[1]

9

In [76]:
arr[1] = 10

In [77]:
arr

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [78]:
l = arr.shape[0]

for i in range(l):
    arr[i] = 10 # change each row to 10

In [79]:
arr

array([[10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.]])

In [81]:
for i in range(l):
    arr[i] = i * 2 # change each row to i * 2
arr

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.],
       [16., 16., 16., 16., 16., 16., 16., 16., 16.]])

In [82]:
arr[1:7]

array([[ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.]])

In [83]:
arr[1:7,3:6]

array([[ 2.,  2.,  2.],
       [ 4.,  4.,  4.],
       [ 6.,  6.,  6.],
       [ 8.,  8.,  8.],
       [10., 10., 10.],
       [12., 12., 12.]])

In [84]:
arr

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.],
       [16., 16., 16., 16., 16., 16., 16., 16., 16.]])

In [85]:
#get specific rows for 1,6,7
arr[[1,6,7]]

array([[ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.]])

In [86]:
arr[[3,5]]

array([[ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.]])

In [87]:
# extract specific columns
arr[:,[0,2,5]]

array([[ 0.,  0.,  0.],
       [ 2.,  2.,  2.],
       [ 4.,  4.,  4.],
       [ 6.,  6.,  6.],
       [ 8.,  8.,  8.],
       [10., 10., 10.],
       [12., 12., 12.],
       [14., 14., 14.],
       [16., 16., 16.]])

In [88]:
arr[1:6,[0,2,5]]

array([[ 2.,  2.,  2.],
       [ 4.,  4.,  4.],
       [ 6.,  6.,  6.],
       [ 8.,  8.,  8.],
       [10., 10., 10.]])

In [90]:
# Array T Same as transpose()
arr = np.arange(45).reshape(9,5)
print(arr)
print(arr.shape)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]
 [25 26 27 28 29]
 [30 31 32 33 34]
 [35 36 37 38 39]
 [40 41 42 43 44]]
(9, 5)

In [93]:
arr_t = arr.T
print(arr_t)
print(arr_t.shape)

[[ 0  5 10 15 20 25 30 35 40]
 [ 1  6 11 16 21 26 31 36 41]
 [ 2  7 12 17 22 27 32 37 42]
 [ 3  8 13 18 23 28 33 38 43]
 [ 4  9 14 19 24 29 34 39 44]]
(5, 9)

In [94]:
a = np.arange(6).reshape((2,3))
print(a)
print(a.shape)

[[0 1 2]
 [3 4 5]]
(2, 3)

In [95]:
a_t = a.transpose()
print(a_t)
print(a_t.shape)

[[0 3]
 [1 4]
 [2 5]]
(3, 2)

In [98]:
#swapaxes
arr = np.array([[1,2,3,4,5]])
arr

array([[1, 2, 3, 4, 5]])

In [97]:
arr.shape

(1, 5)

In [99]:
arr.shape[0]

1

In [100]:
arr.shape[1]

5

In [101]:
arr.swapaxes(0,1)

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [102]:
arr_x = arr.swapaxes(0,1)
arr_x

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [103]:
arr_x.shape

(5, 1)

In [104]:
arr.shape

(1, 5)

In [105]:
#swapaxes with 3-D
arr_3d = np.arange(45).reshape(3,5,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [106]:
arr_3d.shape

(3, 5, 3)

In [108]:
print(arr_3d.shape[0])
print(arr_3d.shape[1])
print(arr_3d.shape[2])

3
5
3

In [109]:
a = arr_3d.swapaxes(1,2)
a

array([[[ 0,  3,  6,  9, 12],
        [ 1,  4,  7, 10, 13],
        [ 2,  5,  8, 11, 14]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])

In [110]:
a.shape

(3, 3, 5)