# Cameron Holmes
## Week 12 - 4/7/2022
### Python Numpy Universal Functions

In [1]:
import numpy as np
arr = np.arange(21)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [2]:
# sqrt
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739,
       3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894,
       4.47213595])

In [3]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [4]:
#randn
arr1 = np.random.randn(10) #Return a sample from the "standard normal" distribution.
arr1

array([-0.9692582 ,  0.02475894,  0.79664356, -0.12507214,  0.22297032,
        1.33112524,  0.81566169, -0.28372957,  0.26892465,  0.07767063])

In [5]:
arr2 = np.random.randn(10)
arr2

array([ 0.7705535 ,  1.40379131,  1.22868782,  0.22101414, -0.79714547,
       -0.14441499,  0.43636542,  2.1283843 , -0.30650567, -1.50432387])

In [6]:
#add
np.add(arr1,arr2)

array([-0.1987047 ,  1.42855025,  2.02533138,  0.095942  , -0.57417514,
        1.18671025,  1.25202711,  1.84465473, -0.03758101, -1.42665325])

In [7]:
#maximum
np.maximum(arr1,arr2)

array([0.7705535 , 1.40379131, 1.22868782, 0.22101414, 0.22297032,
       1.33112524, 0.81566169, 2.1283843 , 0.26892465, 0.07767063])

In [8]:
arr1 = np.arange(9).reshape((3,3))
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [9]:
arr2 = np.ones(9).reshape((3,3))
arr2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [10]:
np.add(arr1,arr2)

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [11]:
# Array Filtering
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [12]:
print(arr < 4)

[[ True  True  True]
 [ True False False]
 [False False False]]

In [13]:
# Replace values of an array, using where
np.where(arr<4, True, False)

array([[ True,  True,  True],
       [ True, False, False],
       [False, False, False]])

In [14]:
#np.where(cond,x,y) Return elements chosen from 'x' or 'y' depending on 'condition'
np.where(arr < 4, -1, -2)

array([[-1, -1, -1],
       [-1, -2, -2],
       [-2, -2, -2]])

In [15]:
np.where((arr < 4) & (arr > 2), -1,-2)

array([[-2, -2, -2],
       [-1, -2, -2],
       [-2, -2, -2]])

In [16]:
#Where with 1-D
arr1 = np.array([1,2,3,4,5])
arr2 = arr1*10
arr_b = np.array([True,False,True,True,False])

print(arr1)
print(arr2)
print(arr_b)

[1 2 3 4 5]
[10 20 30 40 50]
[ True False  True  True False]

In [17]:
#zip
zip(arr1,arr2,arr_b)

In [18]:
list(zip(arr1,arr2,arr_b))

[(1, 10, True), (2, 20, False), (3, 30, True), (4, 40, True), (5, 50, False)]

In [19]:
# using list comprehension
arr3 = [r1 if b else r2 for r1,r2,b in zip(arr1,arr2,arr_b)]
arr3

[1, 20, 3, 4, 50]

In [20]:
# using np.where
arr3 = np.where(arr_b, arr1,arr2)
arr3

array([ 1, 20,  3,  4, 50])

In [21]:
# using where with 2-D array
arr1 = np.array([[1,2],[3,4]])
arr2 = np.array([[5,6],[7,8]])
cond = np.array([[True,False],[True,False]])

print("arr1: ", arr1, end="\n\n")
print("arr2: ", arr2, end="\n\n")
print("cond: ", cond, end="\n\n")

arr1:  [[1 2]
 [3 4]]

arr2:  [[5 6]
 [7 8]]

cond:  [[ True False]
 [ True False]]

In [22]:
np.where(cond,arr1,arr2)

array([[1, 6],
       [3, 8]])

In [23]:
np.where([[True,False],[True,False]], [[5,6],[7,8]], [[1,2],[3,4]])

array([[5, 2],
       [7, 4]])

In [24]:
# a short use of randn
from numpy.random import randn
arr = randn(3,3)
arr

array([[-0.33483791,  1.01089732,  0.89886308],
       [-0.58482937,  0.0410904 , -0.62076936],
       [ 1.07719416,  0.09872246,  1.65766536]])

In [25]:
np.where(arr<0, 0, arr)

array([[0.        , 1.01089732, 0.89886308],
       [0.        , 0.0410904 , 0.        ],
       [1.07719416, 0.09872246, 1.65766536]])

In [26]:
# boolean arrays
# any
arr_b = np.array([True,False,True,False,False])
arr_b.any() #Returns True if any of the elements of 'a' evaluate to True

True

In [27]:
#all
arr_b.all() #Returns True if all elements evaluate to True

False

In [28]:
# unique()
# Find unique elements of an array
fruits = np.array(['Apple','Cherry','Apple','Orange','Cherry','Banana'])
np.unique(fruits)

array(['Apple', 'Banana', 'Cherry', 'Orange'], dtype='<U6')

In [29]:
#in1d
#Test whether each element of a 1d array is also present in a second array.
np.in1d(['Apple','Cherry','Grape'],fruits)

array([ True,  True, False])

In [31]:
#Descriptive Statistical Measures
arr = np.array([ [1,2,3], [4,5,6], [7,8,9]  ])
print(arr.shape)
print(arr)

(3, 3)
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [32]:
arr.sum()

45

In [33]:
arr.sum(0)

array([12, 15, 18])

In [34]:
arr.sum(1)

array([ 6, 15, 24])

In [35]:
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [36]:
np.sum(arr, axis=0)

array([12, 15, 18])

In [37]:
np.sum(arr,axis=1)

array([ 6, 15, 24])

In [38]:
np.sum(arr,axis=None)

45

In [39]:
#mean()
arr.mean()

5.0

In [40]:
arr.mean(0)

array([4., 5., 6.])

In [41]:
arr.mean(1)

array([2., 5., 8.])

In [42]:
np.mean(arr,axis=0)

array([4., 5., 6.])

In [43]:
np.mean(arr,axis=1)

array([2., 5., 8.])

In [44]:
np.mean(arr,axis=None)

5.0

In [45]:
arr.var()

6.666666666666667

In [46]:
arr = np.array([3,6,8,1,9,10,3,5,63,9,12,10,15,11,14])

arr.sort()

In [47]:
arr

array([ 1,  3,  3,  5,  6,  8,  9,  9, 10, 10, 11, 12, 14, 15, 63])

In [48]:
#Transpose
arr = np.array([[1,2,3,4], [5,6,7,8]])
print(arr.shape)
print(arr)

(2, 4)
[[1 2 3 4]
 [5 6 7 8]]

In [49]:
t = arr.T
t

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [50]:
t.shape

(4, 2)

In [52]:
arr.transpose()

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [53]:
arr.transpose().shape

(4, 2)

In [54]:
print(arr)

[[1 2 3 4]
 [5 6 7 8]]

In [55]:
arr.shape

(2, 4)

In [56]:
arr.transpose((0,1))

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [57]:
arr.transpose((1,0))

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [59]:
arr.shape

(2, 4)

In [60]:
arr.transpose((0,1)).shape

(2, 4)

In [61]:
arr.transpose((1,0)).shape

(4, 2)

In [62]:
arr_3d = np.arange(20).reshape((2,5,2))
print(arr_3d)
print(arr_3d.shape)

[[[ 0  1]
  [ 2  3]
  [ 4  5]
  [ 6  7]
  [ 8  9]]

 [[10 11]
  [12 13]
  [14 15]
  [16 17]
  [18 19]]]
(2, 5, 2)

In [64]:
arr_3d.transpose((0,1,2)) #No change in the axis, same order

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [65]:
arr_3d.transpose((0,1,2)).shape

(2, 5, 2)

In [66]:
arr_3d.transpose((1,0,2))

array([[[ 0,  1],
        [10, 11]],

       [[ 2,  3],
        [12, 13]],

       [[ 4,  5],
        [14, 15]],

       [[ 6,  7],
        [16, 17]],

       [[ 8,  9],
        [18, 19]]])

In [67]:
arr_3d.transpose((1,0,2)).shape

(5, 2, 2)

In [68]:
arr_3d.T

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [69]:
#Random
np.random.random((4,4)) #Returns numbers in this interval [0.0, 1.0]

array([[0.85191564, 0.87137952, 0.0449067 , 0.13326352],
       [0.5728542 , 0.79008199, 0.8384711 , 0.79301234],
       [0.65526311, 0.66747346, 0.65712495, 0.02054175],
       [0.92600325, 0.69962514, 0.94049847, 0.46090657]])

In [70]:
from numpy.random import random

random((4,4))

array([[0.15583122, 0.26002105, 0.65547881, 0.64414617],
       [0.99505254, 0.19948799, 0.0381251 , 0.04439943],
       [0.88042975, 0.83955995, 0.67850893, 0.38028789],
       [0.57145542, 0.08232534, 0.50935455, 0.89611404]])

In [74]:
from numpy.random import randn
randn(5,5)

array([[ 0.66471666,  0.13151567,  0.30356996,  1.15803666,  0.10277045],
       [ 0.6307163 ,  0.69560551, -0.00839415,  0.2045596 ,  0.67652927],
       [ 0.35297491,  1.72062852, -0.79168922,  0.24120287, -1.7028435 ],
       [-0.01522679,  0.74580165,  0.19677165,  0.21730782, -1.03290837],
       [-1.84309773, -0.03516087,  0.14389118,  1.38121818, -0.04865385]])

In [75]:
randn(5)

array([-0.11502498,  0.69609376, -0.26166246,  1.45807918,  1.61474007])

In [76]:
np.random.randint(10,50)

42

In [77]:
# Joining NumPy Arrays
#1-d Array
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([6,7,8,9,10])
print(arr1, "\n", arr2)

[1 2 3 4 5]
 [ 6  7  8  9 10]

In [79]:
arr = np.concatenate((arr1,arr2))
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [80]:
arr.shape

(10,)

In [82]:
# 2-d arrays
arr1 = np.array([ [1,2], [3,4]])
arr2 = np.array([ [5,6], [7,8]])
print(arr1,"\n\n", arr2)

[[1 2]
 [3 4]]

 [[5 6]
 [7 8]]

In [83]:
arr = np.concatenate((arr1,arr2))
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [84]:
arr1.shape

(2, 2)

In [85]:
arr.shape

(4, 2)

In [86]:
arr = np.concatenate((arr1,arr2), axis=1)
arr

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [87]:
arr.shape

(2, 4)

In [89]:
arr = np.concatenate((arr1,arr2), axis=0)
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [90]:
#splitting numpy arrays
arr = np.array([1,2,3,4,5,6])
arr_s = np.array_split(arr,3)
arr_s

[array([1, 2]), array([3, 4]), array([5, 6])]

In [91]:
arr_s[0]

array([1, 2])

In [93]:
arr_s[1]

array([3, 4])

In [94]:
arr_s[2]

array([5, 6])

In [97]:
website = "http://docs.scipy.org/doc/numpy/reference/"

'''
There are currently more than 60 universal functions
'''
import webbrowser
webbrowser.open(website)

True