# Cameron Holmes
## Week 5: 2/17/2022
### Python Loops - for

**General for loops format:**
<code> for item in object:
    statements loop here

In [6]:
sc = [68,87,90,89,92,78,88,75,79,85]
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [7]:
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [10]:
for n in sc:
    if n % 2 ==0:
        print(n)
    else:
        print("Odd")

68
Odd
90
Odd
92
78
88
Odd
Odd
Odd

In [12]:
#get the sum of the scores
sum=0
for n in sc:
    sum = sum + n
    print(sum)

68
155
245
334
426
504
592
667
746
831

In [13]:
#get the sum of the scores
sum=0
for n in sc:
    sum = sum + n
print(sum)

831

In [21]:
sum / len(sc)

83.1

In [22]:
for letter in 'I am a student in CIS310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [24]:
t = (5,7,9,10,14)
for n in t:
    print(n)

5
7
9
10
14

In [26]:
lsl = [(10,20),(30,40),(50,60),(70,80),(90,100)]
lsl

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [28]:
for t in lsl:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [29]:
for t in lsl:
    print(t[0])

10
30
50
70
90

In [32]:
for (t1,t2) in lsl:
    print(t1)

10
30
50
70
90

In [34]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [35]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [36]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [37]:
items = d.items()
items

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [38]:
tuple(items)

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [39]:
list(items)

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [41]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [43]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [44]:
for item in d:
    print(item)

brand
model
year

In [45]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [47]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [48]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [49]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [52]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [53]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [54]:
for k in d.values():
    print(k)

Ford
Mustang
1964

In [55]:
d1 = {'k1':5,'k2':8,'k3':3}

In [56]:
sorted([9,4,6,2,8,5,1])

[1, 2, 4, 5, 6, 8, 9]

In [57]:
sorted(d1)

['k1', 'k2', 'k3']

In [58]:
sorted(d1.values())

[3, 5, 8]

In [59]:
d1.values()

dict_values([5, 8, 3])

In [60]:
for v in sorted(d1.values()):
    print(v)

3
5
8

In [61]:
#Break and continue
fruits = ['Apple','Grape','Orange','Banana','Cherry']
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [62]:
fruits = ['Apple','Grape','Orange','Banana','Cherry']
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry