# Cameron Holmes
## Week 11 - 3/31/2022
### Python Numpy - Processing Arrays

In [2]:
import numpy as np

In [3]:
lst = [11,22,33,44,55,66,77]
lst

[11, 22, 33, 44, 55, 66, 77]

In [5]:
arr = np.array(lst)
arr

array([11, 22, 33, 44, 55, 66, 77])

In [6]:
arr.dtype

dtype('int32')

In [8]:
lst2 = [1.3,4.5,6.8,9.0]
arr2 = np.array(lst2)
arr2

array([1.3, 4.5, 6.8, 9. ])

In [9]:
arr2.dtype

dtype('float64')

In [10]:
fruits = ['Orange', 'Apple', 'Cherry', 'Grape']
my_strArr = np.array(fruits)
my_strArr

array(['Orange', 'Apple', 'Cherry', 'Grape'], dtype='<U6')

In [11]:
my_strArr.dtype

dtype('<U6')

In [12]:
d = ['Orange', 'Apple', 'Cherry', 'Grape',1,2,3,4,5, [6,7,8,9,10]]
arr_df = np.array(d)
arr_df

array(['Orange', 'Apple', 'Cherry', 'Grape', 1, 2, 3, 4, 5,
       list([6, 7, 8, 9, 10])], dtype=object)

In [13]:
arr_df.dtype

dtype('O')

In [15]:
my_arr2 = np.array([11,22,33,44,55], dtype='S')
my_arr2

array([b'11', b'22', b'33', b'44', b'55'], dtype='|S2')

In [16]:
my_arr2.dtype

dtype('S2')

In [17]:
my_arr3 = np.array([1,2,3,4,5,6], dtype='i4')
my_arr3

array([1, 2, 3, 4, 5, 6])

In [18]:
my_arr3.dtype

dtype('int32')

In [19]:
my_arr3 = np.array([1,2,3,4,5,6], dtype='i8')
my_arr3

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [21]:
my_arr3.dtype

dtype('int64')

In [22]:
# Convert big Data Type on Existing Arrays
# Using astype
scores = [99.9,98.7,89.5,78.9,100.0,88.99]
arr_sc = np.array(scores)
arr_sc

array([ 99.9 ,  98.7 ,  89.5 ,  78.9 , 100.  ,  88.99])

In [23]:
arr_sc.dtype

dtype('float64')

In [24]:
arr = arr_sc.astype('i')
arr

array([ 99,  98,  89,  78, 100,  88], dtype=int32)

In [26]:
arr = np.array([1,0,0,1,4,5,5,6,9,1,0])
arr

array([1, 0, 0, 1, 4, 5, 5, 6, 9, 1, 0])

In [27]:
arr.dtype

dtype('int32')

In [28]:
arr_bool = arr.astype('bool')

In [29]:
print(arr)
print(arr_bool)

[1 0 0 1 4 5 5 6 9 1 0]
[ True False False  True  True  True  True  True  True  True False]

In [32]:
#numpy array copy vs view
# creatomg am arrau frp, a nested list
lst1 = [1,2,3,4,5]
lst2 = [11,22,33,44,55]
my_list = [lst1,lst2]
my_list

[[1, 2, 3, 4, 5], [11, 22, 33, 44, 55]]

In [33]:
print(my_list)

[[1, 2, 3, 4, 5], [11, 22, 33, 44, 55]]

In [36]:
arr = np.array(my_list)
arr

array([[ 1,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [37]:
arr.ndim

2

In [38]:
# copy and view, instead of using =
c_arr = arr.copy()
c_arr

array([[ 1,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [39]:
c_arr[0,0] = 10

In [40]:
c_arr

array([[10,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [41]:
arr

array([[ 1,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [42]:
c_arr[1,3] = 10

In [43]:
arr_v = arr.view()
arr_v

array([[ 1,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [44]:
arr[0,0] = 15
arr

array([[15,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [45]:
arr_v

array([[15,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [46]:
#numpy array shape
arr

array([[15,  2,  3,  4,  5],
       [11, 22, 33, 44, 55]])

In [47]:
arr.shape

(2, 5)

In [51]:
arr = np.array([1,2,3,4,5,6], ndmin=5)
arr

array([[[[[1, 2, 3, 4, 5, 6]]]]])

In [52]:
arr.ndim

5

In [53]:
arr.shape

(1, 1, 1, 1, 6)

In [54]:
a = np.array([[2,3,4,5],[6,7,8,9]])
print(np.shape(a))

(2, 4)

In [56]:
a.shape[0]

2

In [57]:
a.shape[1]

4

In [58]:
#stacking
a = np.array([[1,2],
              [3,4]])
b = np.array([[5,6],
              [7,8]])

In [60]:
v = np.vstack((a,b))
v

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [61]:
v.shape

(4, 2)

In [62]:
h = np.hstack((a,b))
h

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [63]:
h.shape

(2, 4)

In [67]:
#creating array from file
#write to file
f = open("data.txt","w")
f.write("1, 2, 3\n")
f.write("4, 5, 6\n")
f.close()

#read from file
f = open("data.txt", "r")
print(f.read())
f.close()

1, 2, 3
4, 5, 6

In [68]:
# create np.array from file
arr = np.genfromtxt("data.txt", dtype=None, encoding=None, delimiter=",")
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [69]:
arr.dtype

dtype('int32')

In [71]:
file_data = np.loadtxt("data1.txt",dtype=int)

In [72]:
file_data

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])