# Cameron Holmes
## Week 7 - 3/1/2022
### Python - Comprehension Day 2

In [8]:
#As an example, consider a situation 
#in which you need to calculate the price after tax for a list of transactions:
txns = [1.09, 23.56, -5.8, 57.84, 4.56, -3, 6.78, -7.5]
TAX_RATE = .08
final_prices = [total + (total*TAX_RATE) for total in txns if total > 0]
final_prices

[1.1772, 25.444799999999997, 62.467200000000005, 4.924799999999999, 7.3224]

In [9]:
#Nested list comprehensions
lst = [n*n for n in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
lst = [num**2 for num in [n*n for n in range(1,11)]]
lst

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [14]:
lst = [num**2 for num in [n*n for n in range(1,11) if n%2==0]]
lst

[16, 256, 1296, 4096, 10000]

In [16]:
# Using Set and Dictionary Comprehensions
s = "data preparation consumes an amount of time (up to 80%) spent on analytics"
unique_vowels = [letter for letter in s if letter in 'aeiou']
unique_vowels

['a',
 'a',
 'e',
 'a',
 'a',
 'i',
 'o',
 'o',
 'u',
 'e',
 'a',
 'a',
 'o',
 'u',
 'o',
 'i',
 'e',
 'u',
 'o',
 'e',
 'o',
 'a',
 'a',
 'i']

In [18]:
# Using Set and Dictionary Comprehensions
s = "data preparation consumes an amount of time (up to 80%) spent on analytics"
unique_vowels = {letter for letter in s if letter in 'aeiou'}
unique_vowels
#bracket type makes a difference on output

{'a', 'e', 'i', 'o', 'u'}

In [19]:
d = {i: i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
cities = ['Austin','Tacoma','Topeka','Sacramento','Charolette']
temps = {c: [n for n in range(40,50)] for c in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Sacramento': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Charolette': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [28]:
#using a dictionary
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
lst = [d.get(i,'idle') for i in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [41]:
l = [1,2,3,4,5,2,3,4,1,2,1]
d = {1: 'yes', 2: 'no'}
new_lst = ['Yes' if n == 1 else 'No' if n == 2 else 'Idle' for n in l]
new_lst

['Yes', 'No', 'Idle', 'Idle', 'Idle', 'No', 'Idle', 'Idle', 'Yes', 'No', 'Yes']

In [42]:
l = [1,2,3,4,5,2,3,4,1,2,1]
d = {1: 'yes', 2: 'no'}
new_lst = [d.get(i,'idle') for i in l]
new_lst

['yes', 'no', 'idle', 'idle', 'idle', 'no', 'idle', 'idle', 'yes', 'no', 'yes']

In [ ]:
x = [5,2,1,4,5,2,1,3]